<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3> Создание группы </h3>
        <form>
            <div class="form-group" (submit)="addgroup($event)">
                <label for="formGroupExampleInput">Название :</label>
                <input type="text" [(ngModel)]="name" name="NameGroup" class="form-control" id="NameGroup" placeholder="Название">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Ссылка :</label>
                <input type="text" [(ngModel)]="link" name="LinkGroup" class="form-control" id="LinkGroup" placeholder="Ссылка">
              </div>
              <button class="btn btn-success" (click)="submit($event)">Создать</button>
        </form>
    </div>
</body>
</html>