<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form>
            <div *ngIf="groupExists" class = "alert alert-danger">
                <strong>Не удалось создать группу!</strong> Попробуйте другое имя.
            </div>
            <div class="form-group" (submit)="addgroup($event)">
                <label for="formGroupExampleInput">Название :</label>
                <input type="text" [(ngModel)]="name" name="NameGroup" class="form-control" id="NameGroup" placeholder="Название">
              </div>
              <div class="form-group">
                  <label> Тип группы : </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="PublicGroup" [(ngModel)]="typeGroup" [value]="'public'">
                    <label class="form-check-label" for="exampleRadios1">
                      Открытая
                    </label>
                    <br/>
                    <input class="form-check-input" type="radio" name="type" id="PrivateGroup" [(ngModel)]="typeGroup" [value]="'private    '">
                    <label for="PrivateGroup" class="form-check-label">
                        Закрытая
                    </label>
                  </div>
              </div>
              <button class="btn btn-success" (click)="submit($event)">Создать</button>
        </form>
    </div>
</body>
</html>