.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

img {
    height: 250px;
    width: 250px;
    position: center;
    border-radius: 50px;
    margin-right: 100px;
}

.invisibled{display: block;}

.acc-view {
  display: none;
}
