<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Подтверждение</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    После выхода из закрытой группы, вы можете вступить только по приглашению!
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="activeModal.close('StayInGroup')">Остаться</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('LeaveGroup')">Выйти</button>
</div>