<div class="container">
  <div *ngIf='completedFunction' class="alert alert-info" role="alert">
    <strong>Запрещено!</strong> Эта операция не доступна.
  </div>
  <div *ngIf="passegerJourneyDTO" class="card form-thanks col-lg-9">
    <div class="card-body">
      <h4 class="card-title">Благодарность</h4>
        <p class="marg20">
          Дата поездки : {{passegerJourneyDTO.date}}<br>
          Маршрут : {{passegerJourneyDTO.routeId}}<br>
        </p>
        <form>
          <div class="form-group row marg20">
            <label class="col-xl-2 col-lg-3 col-md-4" for="formGroupExampleInput">Сообщение:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Большое спасибо">
            </div>
          </div>
          <div class="form-group row marg20">
            <label class=" col-xl-2 col-lg-3 col-md-4" for="formGroupExampleInput">Размер:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]='passegerJourneyDTO.price' [ngModelOptions]="{standalone: true}">
              <small id="emailHelp" class="form-text text-muted">Значение обьявленное водителем.</small>
            </div>
          </div>
        </form>
        <form *ngIf="authParametrs" class="marg20" ngNoForm action="http://money.yandex.ru/oauth/authorize" method="POST" id="money" #formMoney>
          <input type="hidden" name="client_id" [ngModel]="authParametrs.clientId">
          <input type="hidden" name="scope"  [ngModel]="authParametrs.scope"/>
          <input type="hidden" name="redirect_uri" [ngModel]="authParametrs.redirect + '&price=' + passegerJourneyDTO.price">
          <input type="hidden" name="response_type" value="code">
          <button class="btn btn-primary" from="money">
            Завершить
          </button>
      </form>
      <button (click)="show()"></button>
    </div>
  </div>
</div>