.star {
  font-size: 4.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}

.passengerName li {
  list-style-type: none; /* Убираем маркеры */
  cursor: pointer;
  position: relative;
  background-color: white;
  height: 2em;
  border-radius: 5px;
}

.passengerName li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.passengerName li.selected {
  background-color: #CFD8DC;
  color: white;
}
.passengerName li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

