<div *ngIf="listRoutes.length > 0" class="container">
  <angular-yandex-map [center]="[51.67037342492434, 39.213419502278526]" [zoom]="11" >
    <angular-yandex-multiroute
      [referencePoints]="[[this.listRoutes[0].routeBegin[0], this.listRoutes[0].routeBegin[1]], [this.listRoutes[0].routeEnd[0], this.listRoutes[0].routeEnd[1]]]"
      [options]="{routeActiveStrokeColor: 'ff0000'}"
    ></angular-yandex-multiroute>
    <angular-yandex-multiroute *ngIf="listRoutes.length > 1"
      [referencePoints]="[[this.listRoutes[1].routeBegin[0], this.listRoutes[1].routeBegin[1]], [this.listRoutes[1].routeEnd[0], this.listRoutes[1].routeEnd[1]]]"
      [options]="{routeActiveStrokeColor: '00ff00'}"
    ></angular-yandex-multiroute>
    <angular-yandex-multiroute *ngIf="listRoutes.length > 2"
      [referencePoints]="[[this.listRoutes[2].routeBegin[0], this.listRoutes[2].routeBegin[1]], [this.listRoutes[2].routeEnd[0], this.listRoutes[2].routeEnd[1]]]"
      [options]="{routeActiveStrokeColor: '0000ff'}"
    ></angular-yandex-multiroute>
  </angular-yandex-map>
</div>

<h4>Возможно, ваши коллеги уже используют FolkTaxi</h4>
<h5>перейдите на вкладку <a *ngIf="isReg()" routerLink="groups">'Группы'</a><a *ngIf="!authService.logIn">'Группы'</a>, чтобы найти их</h5>
