<form (ngSubmit)="Submited(Form)"  class="modal" [ngClass]="{invisibled: visibility}" #Form = "ngForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Введите свои данные для логина</h2>
        <button type="button" class="close" (click)="toggle()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="email2">Введите email</label>
          <input type="text" class="form-control" name="email" id="email2" placeholder="email input"[(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="password2">Введите пароль</label>
          <input type="password" class="form-control" name="password" id="password2" placeholder="password input" [(ngModel)]="password">
        </div>
        <div>
          <!--label #href="/reg"> В первый раз? Зарегистрируйтесь.</label-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
      </div>
    </div><!-- /.модальное окно-Содержание -->
  </div><!-- /.модальное окно-диалог -->
</form><!-- /.модальное окно -->
