<form (ngSubmit)="Submited(Form)"  class="modal" [ngClass]="{invisibled: visibility}" #Form = "ngForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Изменить ваш пароль</h2>
        <button type="button" class="close" (click)="toggle()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="oldPass">Введите текущий пароль</label>
          <input type="password" class="form-control" name="oldPass" id="oldPass"   [(ngModel)]="oldPassword" placeholder="" >
          <!--div [hidden]="!oldPass.pristine" class="alert alert-danger">oldPass is required</div-->
        </div>
        <div class="form-group">
          <label for="pass">Введите новый пароль </label>
          <input type="password" class="form-control" name="pass" id="pass"  [(ngModel)]="password" placeholder="" >
          <!--div [hidden]="!pass.pristine" class="alert alert-danger">Pass is required</div-->
        </div>
        <div class="form-group">
          <label for="newPass"> Повторите новый пароль </label>
          <input type="password" class="form-control" name="newPass" id="newPass"  [(ngModel)]="newPassword" placeholder="" >
          <!--div [hidden]="!pass.pristine" class="alert alert-danger">Pass is required</div-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" >Сохранить изменения</button>
        <button type="button" class="btn btn-success" (click) = "toggle()">Выйти</button>
      </div>
    </div>
  </div>
</form>

