<div class="router-component">
  <h1 class="cart-route-header">Карточка маршрута</h1>
  <div class="map-wrap">
    <app-yamap #component></app-yamap>
  </div>
  <div class="container">
    <h2 class="cart-route-header">Информация о маршруте</h2>
    <div class="blockInput col-12">
      <div class="information-block">
        <div class="driver-info-wrap">
          <div class="driver-info-wrap__img">
            <div class="information-block__text block-text">Водитель данного маршрута</div>
            <div class="img-wrap">
              <img class="driver-img" [src]="image">
            </div>
            <div class="information-block__text-2 information-block-2 block-text-driver-name" (click)="this.accViewComponent.OpenPopup(driverId)">{{this.driverName}}</div>
          </div>
          <div class="driver-info-wrap__text">
            <div class="driver-info-text block-text-driver">
              Шкала доверия пользователя
            </div>
            <div class="driver-info-text">
              <div *ngIf="driverRatingSwitch" class = "userDriverRating">
                <ngb-rating [(rate)]="this.driverRaring">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" max = "5">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <label> {{this.driverRaring}} </label>
              </div>
            </div>
            <div class="driver-info-text">
              <div class="information-block__text block-text-driver">Рейтинг водителя:</div>
              <div class="block-text-driver block-text-driver-2 driver-rating">{{this.driverRaring}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row block-input-wrap">
      <div class="blockInput col-3">
        <div class="information-block-2">
          <div class="information-block__text block-text">Цена поездки</div>
          <div class="information-block__link block-text-driver-2">{{this.price}}</div>
        </div>
      </div>
      <div class="blockInput col-3">
        <div class="information-block-2">
          <div class="information-block__text block-text">Количество мест</div>
          <div class="information-block__link block-text-driver-2" >{{this.countOfPlaces}}</div>
        </div>
      </div>
      <div class="blockInput col-3">
        <div class="information-block-2">
          <div class="information-block__text block-text">Время отправления</div>
          <div class="information-block__link block-text-driver-2">{{this.timeOfDriving}} </div>
        </div>
      </div>
      <div class="blockInput col-3">
        <div class="information-block-2">
          <div class="information-block__text block-text">Дата отправления</div>
          <div class="information-block__link block-text-driver-2">{{this.dateOfJourney}}</div>
        </div>
      </div>
    </div>
    <h3>Расписание маршута:</h3>
    <ul  *ngIf="isManyDays" class="menu-top">
      <li  class="information-block-2" *ngFor="let item of userDays">{{item}}</li>
    </ul>
    <h3 *ngIf="!isManyDays">Маршрут назначен на один день в заданное время</h3>
    <button class="btn btn-primary join-button" (click)="JoinTheRoute()">Вступить в маршрут</button>

    <div class="modal" [ngClass]="{visiblemodon: visibility}" tabindex="-1" role="dialog">
      <div class="my-modal" [ngClass]="{mymodal2: visibility}" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Предупреждение</h5>
            <button type="button" class="close"(click)="toggle()"  data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-text">
            <p>{{this.modalText}}</p>
          </div>
          <div class="modal-footer">
            <button type="button"(click)="toggle()" class="btn btn-primary">Хорошо</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-acc-view #component2></app-acc-view>

</div>
