<p>Название группы : <span class="name"> {{group.groupName}} </span> </p>
<p>Ссылка : <a class="link" [href]=" 'http://' + group.cityLink"> {{group.cityLink}} </a> </p>

<div class="community">
    <div class="head">
        <img src="assets/images/community.png" alt="fsd"> Участники
    </div>
    <ul>
        <li *ngFor="let user of group.users" (click)="this.accViewComponent.OpenPopup(user.userId)" >
            <span class="badge" ><img src="assets/images/community.png" alt="fsd"></span> {{user.fio}}
        </li>
    </ul>
</div>
<app-acc-view></app-acc-view>
