
<div class="container">
    <div class="card">

        <div class="card-header">
            <h5 class="card-title"> <span class="name"> {{group.groupName}} </span></h5>
          </div>

        <div *ngIf="loginCheck">
            <button *ngIf="!entryGroup" name="connect" class="btn btn-outline-success btn-lg btn-block" (click)="actgroup($event)">Вступить</button>
            <button *ngIf="entryGroup" name="leave" class="btn btn-outline-success btn-lg btn-block" (click)="actgroup($event)">Покинуть</button>
        </div>
        <div class="card-body">

            <div class="community">
                <div class="head">
                    <img src="assets/images/community.png" alt="fsd"> Участники 
                </div>
                <ul>
                    <li *ngFor="let user of group.users">
                        <a routerLink="">{{user.fio}}</a>
                      <div *ngIf="this.isModerator">
                        <div *ngIf="user.userId!=this.loggedUser">
                        <div class="mybut">
                          <button id="button-addon2"
                              type="submit"
                              (click)="deleteUser(user)"
                              class="btn btn-link">

                            <i class="fas fa-times-circle"></i>
                          </button>
                        </div>
                        </div>
                      </div>
                      <div class="complain">
                        <div *ngIf="user.userId!=this.loggedUser">
                      <a [routerLink]="['/complain' , user.userId]" class="card-link"><i class="fas fa-angry"></i></a>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <button  class="btn btn-dark" type="button" (click)="copyGroupLink(linkedgroup)" id="btn">Не жадничай</button>
                </div>
                    <input type="text" class="form-control" [value]="group.groupLink" #linkedgroup>
                </div>
            </div>
    </div>

</div>
<div>

    <ul>
        <li *ngFor="let user of group.users">
            <a routerLink="">{{user.fio}}</a>
        </li>
    </ul>
  <app-app-chat [chatId] = "chatId">
  </app-app-chat>
  <a>{{this.chatId}}</a>

</div>

