.name {
    font-style: italic;
}

img {
    height: 1.5em;
    margin-right: 0.75em;
}

.community {
    border: 1px solid black;
    border-radius: 5px;
    width: 30ch;
    height: 300px;
    margin : 0.5em;
}

.community .head {
    background-color : aliceblue;
    padding : 0.75em 0 0.75em 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 5px 0 #837D6D;
    margin-bottom: 5px;
    text-align: center;
}



ul {
    height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }


.userFromGroup{
    color:blue;
}

.community li {
  list-style-type: none; /* Убираем маркеры */
  cursor: pointer;
  position: relative;
  left: -50px;
  background-color : aliceblue;
  margin: .5em;
  height: 2.5em;
  width: 30ch;
  border-radius: 5px;
}

.community li.selected {
  background-color: #CFD8DC;
  color: white;
}
.community li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.community li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.community .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color:#405061;
  line-height: 3em;
  position: relative;
  left: 0px;
  height: 3em;
  border-radius: 4px 0 0 4px;
}


.card {
    margin-top : 1em;
}

