<div class="container router-component">
  <div class="row">
    <angular-yandex-map [center]="[51.6767262253711, 39.20987496326876]" [zoom]="12" (yaclick)="SomeClick($event)" #mapComponent>
      <!--      <angular-yandex-control-->
      <!--        [type]="'RoutePanel'"-->
      <!--        [parameters]="parameters"-->
      <!--      ></angular-yandex-control>-->
    </angular-yandex-map>
    <div class="blockInput col-3">
      <label class="route-center" for="priceInput">Цена</label>
      <input class="route-center form-control " id="priceInput" type="text" [(ngModel)]="postUser.price">
    </div>
    <div class="blockInput col-3">
      <select class="form-control route-center">
        <option value="1">Воронеж</option>
        <option value="2">Ещё один Воронеж</option>
        <option value="3">Москва</option>
        <option value="4">Опять Воронеж</option>
        <option value="5">Наконец Воронеж</option>
      </select>
    </div>
    <div class="blockInput col-3">
      <label class="route-center" for="inputMDEx1">Время</label>
      <input type="time" class="route-center form-control" id="inputMDEx1" [(ngModel)]="schedule.timeOfJourney">
    </div>
    <div class="blockInput col-3">
      <label class="route-center" for="countOfPlaces">Места</label>
      <input type="text" class="route-center form-control" id="countOfPlaces" [(ngModel)]="postUser.countOfPlaces">
    </div>
  </div>
  <div class="tabs ">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Вкладка 1"(click)="singleRoute()">Поездки с расписанием</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Вкладка 2" (click)="notSingleRoute()">Односрочная поездка</label>


    <section id="content-tab1">
      <h4>Выбирете дни недели</h4>
      <div class="week-component">
        <div class="week-day-item" id="0" [className]="selectedDays[0] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Понедельник</div>
        <div class="week-day-item" id="1" [className]="selectedDays[1] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Вторник</div>
        <div class="week-day-item" id="2" [className]="selectedDays[2] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Среда</div>
        <div class="week-day-item" id="3" [className]="selectedDays[3] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Четверг</div>
        <div class="week-day-item" id="4" [className]="selectedDays[4] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Пятница</div>
        <div class="week-day-item" id="5" [className]="selectedDays[5] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Суббота</div>
        <div class="week-day-item" id="6" [className]="selectedDays[6] ? 'week-day-item-selected' : 'week-day-item'" (click)="dayClick($event)">Воскресенье</div>
      </div>
      <h4>Назначьте дату первой поездки</h4>
      <div class="blockInput col-12">
        <input class="week-day-date" type="date" value="2012-04-10" [(ngModel)]="schedule.startDate"/>
      </div>
    </section>
    <section id="content-tab2">
      <h4>Назначьте дату вашей поездки</h4>
      <div class="blockInput col-12">
        <input class="week-day-date" type="date" value="2012-04-10" [(ngModel)]="schedule.startDate"/>
      </div>
    </section>

  </div>

  <div class="col-12">
    <button type="button route-center" (click)="createNewRoute()" class="btn btn-success route-btn">создать маршрут</button>
  </div>

</div>
