<form (ngSubmit)="Submited(Form)"  class="modal" [ngClass]="{invisibled: visibility}" #Form = "ngForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Изменить ваше инфо-поле</h2>
        <button type="button" class="close" (click)="toggle()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newInfo">Введите дополнительную информацию</label>
          <textarea type="text" ngModel maxlength="100" class="form-control" name="newInfo" id="newInfo" rows="4"
                    (input)="onInput()" (keydown.emit.backspace)="onKeydown()" [(ngModel)]="newInfo"
                    style="resize: none">
          </textarea>
          <label> Количество доступных символов: {{this.numLock}} </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" >Сохранить изменения</button>
        <button type="button" class="btn btn-success" (click) = "toggle()">Выйти</button>
      </div>
    </div>
  </div>
</form>
