<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<app-navigation></app-navigation>
<router-outlet></router-outlet>
<nav>
  <a [routerLink]="['viewRoute', '5']">item 5</a>
  <a [routerLink]="['viewRoute', '6']">item 6</a>
  <a [routerLink]="['viewRoute', '7']">item 7</a>
  <a [routerLink]="['viewRoute', '45']">item 45</a>
  <a [routerLink]="['viewRoute', '47']">item 47</a>
  <a [routerLink]="['viewRoute', '10']">item 10</a>
  <a [routerLink]="['viewRoute', '13']">item 13</a>
  <a [routerLink]="['viewRoute', '14']">item 14</a>
  <a [routerLink]="['viewRoute', '15']">item 15</a>
  <a [routerLink]="['viewRoute', '16']">item 16</a>
  <a [routerLink]="['viewRoute', '17']">item 17</a>
</nav>
</body>
</html>
