<div class="alert alert-primary alert-message d-flex rounded p-0" role="alert">
  <div class="alert-icon d-flex justify-content-center align-items-center flex-grow-0 flex-shrink-0 py-3">
    <i class="fas fa-bullhorn"></i>
  </div>
  <div class="d-flex align-items-center py-2 pr-1">
    Решением администратора вы были заблокированы!
  </div>
  <a href="#" class="close d-flex ml-auto justify-content-center align-items-center px-3" data-dismiss="alert">
    <i class="fas fa-times"></i>
  </a>
</div>
