<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <!--div *ngIf="driverSwitch"  class="driverName" >
        <label > Имя водителя: </label>
        <label *ngIf="rateDriver" style="font-style: italic"> Оценить </label>
        <li (mouseover)="rateDriver=true" (mouseout)="rateDriver=false" routerLink="/rate-driver/{{journey.journeyId}}/{{journey.driverId}}" >
          <label > {{journey.driverName}} </label>
        </li>
      </div-->

      <div *ngIf="driverSwitch"  class="community" >
        <div class="head">
          Водитель
        </div>
        <a routerLink="/rate-driver/{{journey.journeyId}}/{{journey.driverId}}">{{journey.driverName}}</a>
      </div>

      <div class="community">
        <div class="head">
          Попутчики
        </div>
        <ul>
          <li *ngFor="let passenger of journey.passengers">
            <a routerLink="/rate-passenger/{{journey.journeyId}}/{{passenger.passengerId}}">{{passenger.passengerName}}</a>
          </li>
        </ul>
      </div>

      <div ng-init="tooltip=false" class="modal-footer" style ="position: relative; top: 10%">
        <button type="button" class="btn btn-success" (click)="toRoute()"> На страницу маршрута </button>
      </div>

    </div>
    <div class="offset-3"></div>
  </div>
</div>
