<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <div *ngIf="driverSwitch"  class="community" >
        <div class="head">
          Водитель
        </div>
          <li>
            <a routerLink="/rate-driver/{{journey.journeyId}}/{{journey.driverId}}">{{journey.driverName}}</a>
          </li>
      </div>

      <div class="community">
        <div class="head">
          Попутчики
        </div>
        <ul>
          <li *ngFor="let passenger of journey.passengers">
            <a routerLink="/rate-passenger/{{journey.journeyId}}/{{passenger.passengerId}}">{{passenger.passengerName}}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="offset-3"></div>
  </div>
</div>
