<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <span class="text-warning">FolkTaxi</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <!-- add if reg to all -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="find-route">Поиск маршрута</a>
        <!-- should be linked to route search component -->
      </li>
      <li class="nav-item active">

        <div *ngIf="isReg()" class="dropdown">
          <button class="btn dropdown-toggle nav-link" data-toggle="dropdown" *ngIf="authService.logIn">
            Мои маршруты
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let route of listDriverRoutes; let i = index" [id]="route" class="dropdown-item"
               [routerLink]="['myRoute', route]" href="#">Маршрут {{ i + 1}}
            </a>
            <a class="dropdown-item" routerLink="addRoute">Создать маршрут</a>
          </div>
        </div>

      </li>
      <li class="nav-item">
        <a routerLink="groups" class="nav-link">Группы</a>
      </li>
      <li class="nav-item active">
        <div *ngIf="isReg()" class="dropdown">
          <button class="btn dropdown-toggle nav-link" data-toggle="dropdown" *ngIf="authService.logIn">
            Мои группы
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let group of listGroups" class="dropdown-item" href="#">{{group.groupName}}</a>
            <app-group></app-group>
          </div>
        </div>
      </li>
      <li *ngIf='!isReg()'>
        <a class="nav-link" routerLink="/reg" >Зарегистрироваться</a>
      </li>
      <li *ngIf='!isReg()'>
        <a class="nav-link" href="#" (click)="this.loginComponent.OpenPopup()">Войти</a>
      </li>
      <li>
        <a class="nav-link" (click)="authService.logout()" href="#" *ngIf="authService.logIn">Выйти</a>
      </li>
    </ul>
  </div>

  <li *ngIf='isReg()' class="nav-item active">
    <div class="btn-group dropleft">
      <button type="button" class="btn" (click)="currentlyNotificains()" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        <div class="row">
          <img src="assets/images/notification.png" alt="notification">
          <div class="count">{{countNotifications}}</div>
        </div>
      </button>
      <div class="dropdown-menu">
        <div class="prokrutka">
          <div *ngFor="let notification of notifications" class="card">
            <div class="card-body">
              <h4 class="card-title">{{notification.subject}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{notification.date.toLocaleTimeString() + " " +
                notification.date.toLocaleDateString()}}
              </h6>
              <p class="card-text">
                {{notification.text}}
              </p>
            </div>
          </div>
        </div>
        <div class="footer-link">
          <a routerLink="/notifications" class="nav-link">полный список</a>
        </div>
      </div>
    </div>
  </li>

  <div class="nav-item active">
    <a *ngIf="!isReg()" class="nav-link" href="#" (click)="this.loginComponent.OpenPopup()">
      <i class="fa fa-user-circle fa-border bg-white fa-2x" aria-hidden="true"></i>
    </a>
    <div  *ngIf="isReg()">
      <button *ngIf="imageSwitch" type="button" class="btn" routerLink="/profile">
        <img [src]="image" alt="Avatar">
      </button>
      <a *ngIf="!imageSwitch" class="nav-link" routerLink="/profile">
        <i class="fa fa-user-circle fa-border bg-white fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>


</nav>

<app-login></app-login>
