.bg-white{
  background-color: white;
}


img {
  height: 2.5em;
  margin: 0.2em;
}

.count {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background: yellow;
  position: relative;
  bottom:0.25em;
  font-weight: bold;
  right: 1.25em;
  color: #808000;
}


.notificationWindow {
  width: 500px;
  height: 400px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.prokrutka {
  width: 500px;
  height:350px;
  background: #fff;
  overflow-x: scroll;
  overflow-y: scroll;
}

.footer-link {
  text-align: center;
}


.showNotifications {
  visibility : hidden;
} 