<div class="container">
  <h3> Поиск маршрута </h3>
  <form>
    <div class="form-group">
      <label>Введите адрес :</label>
      <input type="text" [(ngModel)]="adress" name="NameGroup" class="form-control" id="Address" placeholder="Адрес">

      <div class="container">
        <angular-yandex-map [center]="[55.751952, 37.600739]" [zoom]="12">
          <angular-yandex-placemark [geometry]="[55.751952, 37.600739]"></angular-yandex-placemark>
        </angular-yandex-map>
      </div>

      <label>Введите расстояние, которое вы готовы пройти :</label>
      <input type="number" [(ngModel)]="radius" name="NameGroup" class="form-control" id="Radius" placeholder="Расстояние">

      <label>Введите время отправления :</label>
      <input type="text" [(ngModel)]="depart" name="NameGroup" class="form-control" id="Departure" placeholder="Время отправления">

    </div>
    <button class="btn btn-success" routerLink="show-routes" (click)="submit()">Поиск</button>
  </form>
</div>
